body {
    margin: 20px auto;
}

a:hover {
    text-decoration: none;
}
.card-deck {
    justify-content: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-overlay > button {
    font-size: 36px;
    background: none;
    border: none;
}

.card-img {
    opacity: 0.8;
    object-fit: cover;
}

.list-item {
    margin: 20px auto;
    max-width: 700px;
    display: flex;
}
.list-img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.list-img > img {
    width: 100px;
    height: 100px;
}
.list-main {
    width: 400px;
}
.list-item > button {
    align-self: center;
}

.logoutButton {
    cursor: pointer;
    color: white;
}